<section class="h-100 gradient-form" style="background-color: #eee;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-xl-10">
        <div class="card rounded-3 text-black">
          <div class="row g-0">
            <div class="col-lg-6">
              <div class="card-body p-md-5 mx-md-4">

                <div class="text-center mb-4 ml-4">
                  <img src="https://www.freeiconspng.com/thumbs/doctor-logo/transparent-medical-doctor-background-logos-18.png"
                    style="width: 185px;" alt="logo">
                  {{!-- <h4 class="mt-1 mb-5 pb-1">We are The Doc Care Team</h4> --}}
                </div>

                <form name="adminLogin" method="post" id="adminLogin" action="/login" >
                  <p>Please login to your account</p>

                  <div class="form-outline mb-4">
                    <input type="email" name="email" minlength="4"  required id="form2Example11" class="form-control"
                      placeholder="Phone number or email address" />
                    <label class="form-label" for="form2Example11">Username</label>
                  </div>

                  <div class="form-outline mb-4">
                    <input type="password" id="form2Example22" minlength="3" name="password" required class="form-control" />
                    <label class="form-label" for="form2Example22">Password</label>
                  </div>

                  <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg bg-dark mb-3 p-2" type="submit">Log
                      in</button>
                    <a class="text-muted" href="#!">Forgot password?</a>
                  </div>

                  <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Don't have an account?</p>
                    <button type="button" class="btn btn-outline-dark">Create new</button>
                  </div>

                </form>

{{!-- validation --}}

<script>
    $("#adminLogin").validate();
</script>


              </div>
            </div>
            <div class="col-lg-6 d-flex align-items-center ">
              <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                {{!-- <h4 class="mb-4">We are more than just a company</h4> --}}
                 <img src="https://i.pinimg.com/736x/4c/a1/00/4ca100c21a37a07e17fdb89c859de13a.jpg"
                    style="width: 300px;" alt="logo">
                {{!-- <p class="small mb-0">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod --}}
                 </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>