<div class="container">

<section class="vh-100 bg-image"
  style="background-image: url('https://mdbcdn.b-cdn.net/img/Photos/new-templates/search-box/img4.webp');">
  <div class="mask d-flex align-items-center h-100 gradient-custom-3">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-9 col-lg-7 col-xl-6">
          <div class="card" style="border-radius: 15px;">
            <div class="card-body p-5">
              <h2 class="text-uppercase text-center mb-5">Create an account</h2>



              <form name="userSignup" method="post" id="userSignup" action="/userRegister">

                <div class="form-outline mb-4">
                  <input type="text" id="form3Example1cg" name="name" minlength="4" required class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example1cg">Your Name</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="email" id="form3Example3cg" name="email" minlength="4" required class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Your Email</label>
                </div>

<div class="form-outline mb-4">
                  <input type="number" id="form3Example3cg" name="phoneNumber" minlength="4" required class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Your phoneNumber</label>
                </div>


                <div class="form-outline mb-4">
                  <input type="password" id="password" name="password" minlength="4" required class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>

                <div class="form-outline mb-4">
                  <input type="password" id="conpassword" name="confpassword" minlength="4" required class="form-control form-control-lg" />
                  
                  <label class="form-label" for="form3Example4cdg">Repeat your password</label>

    {{!--  Validate Confirm Password --}}
                  <h5 id="conpasscheck" style="color: red;">
                        **Password didn't match
                    </h5>


                </div>

                <div class="form-check d-flex justify-content-center mb-5">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3cg" />
                  <label class="form-check-label" for="form2Example3g">
                    I agree all statements in <a href="#!" class="text-body"><u>Terms of service</u></a>
                  </label>
                </div>

                <div class="d-flex justify-content-center">
                  <button type="submit"
                    class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
                </div>

                <p class="text-center text-muted mt-5 mb-0">Have already an account? <a href="/login"
                    class="fw-bold text-body"><u>Login here</u></a></p>

              </form>


              {{!-- validation --}}

<script>
    $("#userSignup").validate();

    // Validate Confirm Password
  $("#conpasscheck").hide();
  let confirmPasswordError = true;
  $("#conpassword").keyup(function () {
    validateConfirmPassword();
  });
  function validateConfirmPassword() {
    let confirmPasswordValue = $("#conpassword").val();
    let passwordValue = $("#password").val();
    if (passwordValue != confirmPasswordValue) {
      $("#conpasscheck").show();
      $("#conpasscheck").html("**Password didn't Match");
      $("#conpasscheck").css("color", "red");
      confirmPasswordError = false;
      return false;
    } else {
      $("#conpasscheck").hide();
    }
  }
</script>


            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

</div>
